<div class="closure">
  <div class="bg">
    <img src="../assets/images/footer/bg-small.png" alt="" />
  </div>
  <div class="info">
    <div class="header">
      <h1>Thanks for checking out my first Angular application</h1>
      <h1>@Stian Håve</h1>
      <h2>I think i wrote more css than angular...</h2>
    </div>
    <form action="">
      <button>Get Started Now</button>
    </form>
  </div>
</div>

<div class="footer">
  <p>
    01.07.2020
    <span>
      <a target="_blank" href="https://github.com/StanlyLife">
        @Stian Håve
      </a>
    </span>
    No rights reserved
  </p>
</div>
