<div class="features">
  <div class="feature-one">
    <div class="bg">
      <img
        src="../assets/images/features/abusg.png"
        alt="light rainy flat vector illustration background"
      />
    </div>
    <div class="info">
      <div class="header">
        <h1>We help you start your project</h1>
        <h2>Helping businesses since 2020</h2>
      </div>
      <div class="cards">
        <div class="card">
          <img src="../assets/images/features/Icon1.png" alt="box icon" />
          <h3>Website development</h3>
          <h6>
            we spend alot of resources hiring the best talent across the country
            to deliver the best product for you and your customers
          </h6>
        </div>
        <div class="card">
          <img
            src="../assets/images/features/Icon2.png"
            alt="motor block icon"
          />
          <h3>SEO</h3>
          <h6>
            We use powerful tool to track the best keywords for your search
            engine optimization
          </h6>
        </div>
        <div class="card">
          <img
            src="../assets/images/features/Icon3.png"
            alt="fingerprint icon"
          />
          <h3>Design</h3>
          <h6>
            Design is an art and a lifestyle, which is why we work closely with
            our clients to deliver the best design for the business and
            customers
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-two">
    <div class="bg">
      <img
        src="../assets/images/features/of1.png"
        alt="flat vector background"
      />
    </div>
    <div class="panes">
      <div class="pane-one">
        <div class="info">
          <h1>We create beautiful websites</h1>
          <h2>The way you want it</h2>
        </div>
        <div class="key-numbers">
          <div class="key-card">
            <img
              src="../assets/images/features/settings-6.png"
              alt="wheel icon"
            />
            <div class="key-text">
              <h3>9026</h3>
              <h4>Projects</h4>
            </div>
          </div>
          <div class="key-card">
            <img
              src="../assets/images/features/user-3.png"
              alt="customer icon"
            />
            <div class="key-text">
              <h3>187</h3>
              <h4>customers</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="pane-two">
        <img
          src="../assets/images/features/team.png"
          alt="team vector illustration"
        />
      </div>
    </div>
  </div>
  <div class="feature-three">
    <div class="bg">
      <img src="../assets/images/features/of2.png" alt="rainy background" />
    </div>
    <div class="panes">
      <div class="pane-one">
        <img
          src="../assets/images/features/team2.png"
          alt="team flat vector illustration"
        />
      </div>
      <div class="pane-two">
        <div class="upper">
          <h1>By working together we deliver</h1>
          <h1>value to your business</h1>
          <h3>
            Since 2020 we have delivered SEO, SEM, Design and development
            services
          </h3>
        </div>
        <div class="lower">
          <div class="check">
            <div>
              <img
                src="../assets/images/features/licon.png"
                alt="list icon one"
              />
            </div>
            <p>High quality services</p>
          </div>
          <div class="check">
            <div>
              <img
                src="../assets/images/features/licon.png"
                alt="list icon two"
              />
            </div>
            <p>Lifelong support</p>
          </div>
          <div class="check">
            <div>
              <img
                src="../assets/images/features/licon.png"
                alt="list icon three"
              />
            </div>
            <p>Lifelong updates</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
