<nav-bar></nav-bar>

<div class="hero">
  <div class="image">
    <img src="../assets/images/Bg.png" alt="" />
  </div>
  <div class="center-info">
    <div class="center-left">
      <h1>We are full service</h1>
      <h1>Digital Agency</h1>
      <h3>
        Bengal. Birman. American shorthair tabby russian blue. Turkish angora
        leopard yet malkin and ocicat cougar, cougar manx. Cornish rex cougar
        but bombay, cheetah.
      </h3>
      <form action="">
        <button class="left-get-started">Get started now</button>
      </form>
    </div>
    <div class="center-right">
      <div class="center-right-hero">
        <h1>Start your free trial</h1>
        <h3>supporting call-to-action</h3>
      </div>
      <form action="">
        <div class="form-row">
          <label for="">Your Name</label>
          <input type="text" />
        </div>
        <div class="form-row">
          <label for="">Your Email</label>
          <input type="text" />
        </div>

        <div class="form-row">
          <label for="">Your Phone</label>
          <input type="text" />
        </div>
        <div class="form-row">
          <button class="right-get-started">Get Started Now</button>
          <em
            >start by trying our service for 30 days free trial no credit card
            required</em
          >
        </div>
      </form>
    </div>
  </div>
</div>

<trusted-list></trusted-list>
<features></features>
<router-outlet></router-outlet>
