$mainColor: #d65d6f;
$secondColor: #e8505b;

.hero {
  height: 90vh;
}

.hero .image img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero .center-info {
  position: relative;
  margin: 8% auto 0 auto;
  width: 60%;
  height: 50vh;
  display: grid;
  min-height: 50vh;
  grid-template-areas: "left right";
  grid-template-columns: 5fr 4fr;
}

/**/
/*
center-left
*/
/**/

.hero .center-info .center-left {
  grid-area: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

.center-left h1 {
  font-size: 3.5vw;
  font-weight: 500;
}

.center-left h3 {
  font-weight: 400;
  font-size: 1vw;
}

.center-left form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center-left form button {
  border: none;
  padding: 1rem;
  color: $secondColor;
  font-weight: 600;
  border-radius: 200px;
  width: 40%;
  cursor: pointer;
  margin: 1vw 0;
}

/**/
/*
center-right
*/
/**/

.hero .center-info .center-right {
  grid-area: right;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  padding: 1.5rem;
}

.center-right h1 {
  text-transform: capitalize;
}

.center-right h1,
.center-right h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-align: center;
}

.center-right .center-right-hero {
  flex: 2;
}

.center-right em {
  text-align: center;
  font-size: 0.75rem;
}

.center-right form {
  flex: 6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.center-right form .form-row {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.center-right form label {
  text-align: left;
  color: #868e96;
}

.center-right form input {
  border: none;
  border-bottom: 2px solid #dee2e6;
}

.center-right form button {
  margin-top: 15px;
  padding: 1rem;
  background-color: $secondColor;
  border: none;
  border-radius: 200px;
  color: white;
  font-weight: 500;
}

/******************************/
/*
  Responsive
*7
/******************************/

@media only screen and (max-width: 1250px) {
  .hero .image img {
    height: 75%;
  }

  .hero {
    height: 75vh;
  }

  .hero .center-info {
    margin: 8% auto 0 auto;
    width: 80%;
    height: 50vh;
    min-height: 50vh;
    text-align: center;
  }

  .center-left form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 900px) {
  .hero .image img {
    height: 90%;
    width: auto;
  }

  .hero .center-info {
    position: relative;
    margin: 8% auto 0 auto;
    width: 95%;
    height: 50vh;
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > div {
      margin: 5vh 0;
    }
    .center-right {
      flex: 10;
    }
    .center-left {
      flex: 1;
      margin-top: 25vh;
      h1 {
        font-size: 1.75rem;
      }
      h3 {
        margin: 0.5rem 0;
        font-size: 0.9rem;
      }
    }
  }

  .center-left form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-row {
    padding: 0.5rem;
  }
}
