.testiomonials {
  min-height: 650px;
  position: relative;
}

.testiomonials .bg {
  height: 100%;
  width: 100%;
}

.testiomonials .bg img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.testiomonials .slides .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 90%;
  left: 5%;
  right: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.slides .arrows a:hover {
  opacity: 0.5;
}

.slides .slide {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide .quote {
  height: 125px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

.slide .quote blockquote {
  margin-top: 50px;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.33rem;
}

.slide .quote blockquote::before {
  font-size: 2rem;
  font-weight: 100;
  content: '"';
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slide .quote img {
  position: absolute;
}

.slide .admissioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide .admissioner h6 {
  font-weight: 100;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

.slides .elipsis {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.slides .elipsis img {
  padding: 0 1rem;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  cursor: pointer;
}

.slides .elipsis img:hover {
  opacity: 0.5;
}

.profile-picture img {
  border-radius: 500px;
  background-color: whitesmoke;
  border: 2px solid #e8505b;
}

.inactive-slide {
  display: none !important;
}
/*# sourceMappingURL=testimonial.component.css.map */